{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

    <form action="/login" method="post">
        <div class="mb-3">
            <input type="text" autocomplete="off" autofocus required name="username" id="username" placeholder="Username" class="form-control mx-auto w-auto">
        </div>
        <div class="mb-3">
            <input type="password" autocomplete="off" required name="password" id="password" placeholder="Password" class="form-control mx-auto w-auto">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>

{% endblock %}